<div class="container-fluid border-top">
    <div class="container p-3 text-center">
        <div id="brands">
            <i class="fab fa-twitter"></i>
            <i class="fab fa-github-square"></i>
            <i class="fab fa-facebook-square"></i>
        </div>
        <small>Copyright <i class="fas fa-copyright"></i> Hack Academy 2023</small>
    </div>
</div>