<nav class="navbar text-white bg-black">
  <div class="container-fluid">
    <div class="container d-flex justify-content-between">
      <a class="navbar-brand text-white" href="/">Hack the Blog</a>
      <a class="btn btn-primary" href="/panel">Admin</a>
    </div>
  </div>
</nav>
